rules_version = '2';

service cloud.firestore {

  match /databases/{database}/documents {

    match /contact_messages/{messageId} {

      allow create: if
        request.resource.data.keys().hasOnly([
          "name",
          "email",
          "subject",
          "message",
          "createdAt",
          "source"
        ])
        &&
        request.resource.data.name is string
        &&
        request.resource.data.email is string
        &&
        request.resource.data.message is string
        &&
        request.resource.data.name.size() >= 2
        &&
        request.resource.data.name.size() <= 100
        &&
        request.resource.data.email.size() <= 200
        &&
        request.resource.data.message.size() >= 3
        &&
        request.resource.data.message.size() <= 5000;

      allow read: if false;
      allow update: if false;
      allow delete: if false;
    }
  }
}
